# dependencies
node_modules/
.pnpm-store/

# builds
dist/
.next/
out/
build/
*.tsbuildinfo

# turbo
.turbo/

# test / coverage
coverage/
playwright-report/
test-results/

# env & secrets
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# misc
.vercel/
